<!DOCTYPE html>

@using System.Data;
@using playlistApp.App_Code;

@{
    SongMethods sm = new SongMethods();
    string filePath = @"~\playlist.xml";
    DataSet ds = sm.GetAllSongs(filePath);
    Session["playlistClass"] = sm;
    Session["file"] = filePath;

    string jsonInput = File.ReadAllText(HttpContext.Current.Server.MapPath(@"~\playlist.json"));
    List<Song> songs = (List<Song>)Newtonsoft.Json.JsonConvert.DeserializeObject(jsonInput, typeof(List<Song>));
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Playlist</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1> Hallo welkom op onze playlist. </h1>

        <h2>XML</h2>
        <table class="table table-dark">

            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Year</th>
            </tr>

            @{
                foreach (DataRow liedje in ds.Tables["song"].Rows)
                {
                    <tr>
                        <td>@liedje["id"]</td>
                        <td>@liedje["artist"]</td>
                        <td>@liedje["title"]</td>
                        <td>@liedje["album"]</td>
                        <td>@liedje["year"]</td>
                        <td>
                            <a id="edit" class="btn btn-danger" href="~/Pages/EditSong.cshtml?id=@liedje["id"]">Edit</a>
                            <a id="delete" class="btn btn-danger" href="~/Pages/DeleteSong.cshtml?id=@liedje["id"]">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>

        <h2>JSON</h2>
        <table class="table table-dark">

            <tr>
                <th>ID</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Year</th>
            </tr>

            @{
                foreach (Song song in songs)
                {
                    <tr>
                        <td>@song.id</td>
                        <td>@song.artist</td>
                        <td>@song.title</td>
                        <td>@song.album</td>
                        <td>@song.year</td>
                        <td>
                            <a id="edit" class="btn btn-danger" href="~/Pages/EditSong.cshtml?id=@song.id">Edit</a>
                            <a id="delete" class="btn btn-danger" href="~/Pages/DeleteSong.cshtml?id=@song.id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>

        <br />

        <a style="margin-left: 10px" class="btn btn-lg btn-primary" href="Pages/CreateSong.cshtml">Add</a>
    </div>
</body>
</html>
